fastapi
motor
python-dotenv
pydantic>=2.0
pydantic-settings>=2.0
passlib[bcrypt]
pyjwt
python-multipart
uvicorn
pydantic[email]
openai
apscheduler
PyPDF2
python-docx
camel_tools
stripe
tiktoken
fpdf
httpx
aiohttp